@import '../../../styles/to-rem.scss';
@import '../../../styles/variables.scss';

.header-container{
    width: 100%;
    height: toRem(56);
    background-color: $tertiary-color;

    @media (max-width:425px) {
        justify-content: center;
    }
    .img-style{
        height: toRem(24);
        padding-left: toRem(24);
    }
}