@import '../styles/to-rem.scss';
@import '../styles/variables.scss';

.background-container{
    &.home{
        background: linear-gradient(
            $primary-color 0px,
            $primary-color 450px,
            $white 450px,
            $white 100%
        );
    }

    &.home-details{
        background: linear-gradient(
            $primary-color 0px,
            $primary-color 600px,
            $white 600px,
            $white 100%
        );

        @media (max-width:425px) {
            background: linear-gradient(
            $primary-color 0px,
            $primary-color 1160px,
            $white 1160px,
            $white 100%
            );
        }
    }

    width: 100%;
    min-height: 100vh;
}