@import '../../../styles/to-rem.scss';
@import '../../../styles/variables.scss';

.background-container{
    background: linear-gradient(
        $primary-color 0px,
        $primary-color 450px,
        $white 450px,
        $white 100%
    );

    width: 100%;
    min-height: 100vh;
}

.title-container{
    padding: toRem(85) toRem(40) toRem(40) toRem(40); 

    @media (max-width:425px) {
        padding: toRem(40) toRem(60) toRem(36) toRem(16);
    }

    .title-style{
        color: $white;
        font-size: toRem(48);
        max-width: toRem(779);
        line-height: toRem(56);
        margin: 0;

        @media (max-width:425px) {
            font-size: toRem(24);
            line-height: toRem(28);
            padding: 0;
            max-width: toRem(281);
        }
    }
}

.filter-container{

    .filter-title-container{
        @media (max-width:425px) {
            padding-left: toRem(16);
        }
    }
    .filter-title-style{
        color: $white;
        font-size: toRem(14);
        margin: 0;
    }

    .btn-container{
        width: 80%;

        @media (max-width:425px) {
            width: 100%;
            padding-left: toRem(16);
        }
    }
}

.results-container{
    margin: toRem(116) toRem(24) 0 toRem(24);

    .movie-container{

        .movie-title-style{
            font-weight: 700;
            margin: 0;
            font-size: toRem(16);
        }
    }

    .movie-date-style{
        font-weight: 700;
        margin: 0;
        font-size: toRem(14);
        color: #646464;
    }

    .img-container{
        width: 100%;

        .img-style{
            width: inherit;
            border-radius: toRem(4);
        }
    }
    
}

.paginator-style{
    color: $tertiary-color;
    display: flex;
    justify-content: center;
}
