@import '../../../styles/to-rem.scss';
@import '../../../styles/variables.scss';

.skeleton-center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-skeleton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.space-between-skeleton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.background-container{
    background: linear-gradient(
        $primary-color 0px,
        $primary-color 450px,
        $white 450px,
        $white 100%
    );

    width: 100%;
    min-height: 100vh;
}

.title-container{
    padding: toRem(85) toRem(40) toRem(40) toRem(40); 

    @media (max-width:425px) {
        padding: toRem(40) toRem(60) toRem(36) toRem(16);
    }

    .title-style{
        color: $white;
        font-size: toRem(48);
        max-width: toRem(779);
        line-height: toRem(56);
        margin: 0;

        @media (max-width:425px) {
            font-size: toRem(24);
            line-height: toRem(28);
            padding: 0;
            max-width: toRem(281);
        }
    }
}

.filter-container{

    .filter-title-container{
        @media (max-width:425px) {
            padding-left: toRem(16);
        }
    }

    .filter-title-style{
        color: $white;
        font-size: toRem(14);
        margin: 0;
    }

    .btn-container{
        width: 80%;

        @media (max-width:425px) {
            width: 100%;
            padding-left: toRem(16);
        }
    }
}

.results-container{
    margin: toRem(116) toRem(24) 0 toRem(24);

    .movie-container{

        a:link, a:visited .link-container{
            text-decoration: none;
            color: #000000;
        }

        .movie-title-style{
            font-weight: 700;
            margin: 0;
            font-size: toRem(16);
        }
    }

    .movie-date-style{
        font-weight: 700;
        margin: 0;
        font-size: toRem(14);
        color: #646464;
    }

    .img-container{
        width: 100%;

        .img-style{
            width: inherit;
            border-radius: toRem(4);
        }
    }
    
}

.paginator-style{
    color: $tertiary-color;
    display: flex;
    justify-content: center;
}

.btn-style{
    background-color: $white;
    height: toRem(40);
    margin-right: 12px;
    color: #323232;
    font-size: toRem(16);
    line-height: toRem(24);
    font-weight: 700;

    @media (max-width:425px) {
        height: toRem(32);
        line-height: toRem(20);
    }

    &.btn-selected{
        background-color: $selected-color;
        color: $white;
        
        & mat-icon{
            color: $white;
        }

        &.btn-remove-filter{
            background-color: transparent;
            color: white;
        }
    }

}


.btn-remove-filter{
    background-color: $primary-color;
    color: white;
    border: 1px solid white;
    font-weight: 300;
    opacity: 76%;
    border-radius: 6px;
}

.btn-remove-filter:hover{
    background-color: white;
    color: $primary-color;
    opacity: 78%;
}