<div class="home-container">
    <div class="row title-container d-flex justify-content-center">
        <h2 class="col title-style text-center">Milhões de filmes, séries e pessoas para descobrir. Explore já</h2>
    </div>
    <div class="row filter-container justify-content-center">
        <div class="col-12 text-center mb-3">
            <p class="filter-title-style">FILTRE POR:</p>
        </div>
        <div class="col-12 btn-container d-flex justify-content-center flex-wrap">
            <app-btn-filter class="col mb-2"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
            <app-btn-filter class="col"></app-btn-filter>
        </div>
    </div>
    <div class="row results-container">
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
    </div>
    <div class="row results-container">
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
        <div class="col d-flex flex-column movie-container">
            <div class="img-container">
                <img class="img-style" src="../../../assets/img/deadpool.jpeg" alt="movie img">
            </div>
            <div class="movie-title-container">
                <p class="movie-title-style">Deadpool</p>
            </div>
            <div class="date-container">
                <p class="movie-date-style">12.mar.2020</p>
            </div>
        </div>
    </div>
    <mat-paginator  [length]="100"
                    [pageSize]="24"
                    [hidePageSize]="true"
                    class="paginator-style"></mat-paginator>
</div>
