<div class="container-fluid">
    <div class="row">
        <div class="col img-style">
            <img src="../../../assets/img/deadpool.jpeg" alt="movie poster">
        </div>
        <div class="col movie-info-container">
            <div class="title-style">
                Deadpool (2016)
            </div>
            <div class="subtitle-style">
                16 anos  • 11/02/2016 (BR)  •  Ação, Aventura, Comédia, Ficção científica • 1h 47m
            </div>
            <div class="ranking-style">

            </div>
            <div class="resume-title">
                Sinopse
            </div>
            <div class="resume">
                Baseado no anti-herói não convencional da Marvel Comics, Deadpool conta a história da origem do ex-agente das Forças Especiais que se tornou o mercenário Wade Wilson. Depois de ser submetido a um desonesto experimento que o deixa com poderes de cura acelerada, Wade adota o alter ego de Deadpool. Armado com suas novas habilidades e um senso de humor negro e distorcido, Deadpool persegue o homem que quase destruiu sua vida.
            </div>
            <div class="credits-container">
                <div class="name">
                    Rob Liefeld 
                </div>
            </div>
        </div>
    </div>
</div>