<div class="container-fluid">
    <div class="row pt-5 justify-content-center">
        <div class="col-7 col-md-4">
            <img class="img-style" [src]="url + movie?.poster_path" alt="movie poster">
        </div>
        <div [ngClass]="{'d-flex-column': isMobile, 'd-flex-row': !isMobile }" 
             class="col mt-5 mt-md-0 d-flex-row movie-info-container">
            <div>
                <p class="title-style">
                    {{movie?.title}}
                </p>
            </div>
            <ng-container *ngIf="!isMobile">
                <p class="subtitle-style">
                    {{movie?.release_date}}  •  {{movie?.genres[0]?.name}} {{movie?.genres[1]?.name}} {{movie?.genres[2]?.name}} {{movie?.genres[3]?.name}} • {{movie?.runtime}} min
                </p>
            </ng-container>
            <ng-container *ngIf="isMobile">
                <ul class="subtitle-style">
                    <li>
                        {{movie?.release_date}}
                    </li>
                    <li>
                        {{movie?.genres[0]?.name}}, {{movie?.genres[1]?.name}} {{movie?.genres[2]?.name}} {{movie?.genres[3]?.name}}
                    </li>
                    <li>
                        {{movie?.runtime}}
                    </li>
                </ul>
            </ng-container>
            <div class="d-flex align-items-center">
                <div class="spinner-container d-flex align-items-center">
                    <mat-progress-spinner
                        [value]="((movie?.vote_average)*10)">
                    </mat-progress-spinner>
                    <div class="percentage-container">
                        <p>{{((movie?.vote_average)/10) | percent}}</p>
                    </div>
                </div>
                <div class="evaluation-container">
                    <p class="evaluation-style">
                        Avaliação dos usuários
                    </p>
                </div>
            </div>
            <div>
                <p class="resume-title-style mb-2">
                    Sinopse
                </p>
            </div>
            <div>
                <p class="resume-style">
                    {{movie?.overview}}
                </p>
            </div>
            <div class="d-flex flex-wrap mt-md-0 mt-5 credits-container">
                <div class="jobs-container mb-4" *ngFor="let credit of crewArray">
                    <div>
                        <p class="name-style">
                            {{credit?.name}}
                        </p>
                    </div>
                    <div>
                        <p class="job-style">
                            {{credit?.job}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row actors-container">
            <div class="col-12">
                <p class="main-title-style mb-4">
                    Elenco original
                </p>
            </div>
            <div class="col d-flex actor-info-container" *ngFor="let cast of castArray">
                <mat-card>
                        <img mat-card-image class="actor-img-style" [src]="url + cast?.profile_path" alt="{{cast?.name}} profile picture">
                    <div>
                        <mat-card-title class="actor-name-style">
                            {{cast?.name}}
                        </mat-card-title>
                    </div>
                    <div>
                        <mat-card-subtitle class="actor-role-style">
                            {{cast?.character}}
                        </mat-card-subtitle>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row trailer-container mt-5">
            <div class="col-12">
                <p class="main-title-style">
                    Trailer
                </p>
            </div>
            <div class="col">
                <youtube-player 
                    videoId="{{trailerKey}}" 
                    suggestedQuality="highres" 
                    [height]="500" 
                    [width]="900" 
                    [startSeconds]="1">
                </youtube-player>
            </div>
        </div>
        <div class="row recomendations-container mt-5" *ngIf="reco">
            <div class="col-12 mb-4">
                <p class="main-title-style">
                    Recomendações
                </p>
            </div>
                <div class="col-6 col-md-2 d-flex flex-column reco-movie-info" *ngFor="let reco of recoArray">
                    <a routerLink="/home-details/{{reco.id}}">
                        <div>
                            <img class="reco-img-style" [src]="url + reco?.poster_path" alt="{{reco?.name}} poster image">
                        </div>
                        <div>
                            <p class="reco-title-style">
                                {{reco?.title}}
                            </p>
                        </div>
                        <div>
                            <p class="reco-date-style">
                                {{reco?.release_date}}
                            </p>
                        </div>
                    </a>
                </div>
        </div>
        <div class="row recommendations-container mt-5" *ngIf="!reco">
            <div class="col-12 mb-4">
                <p class="main-title-style fs-5">
                    Opa! Ainda não temos recomendações para este filme...
                </p>
            </div>
        </div>
    </div>
</div>